@tailwind base;
@tailwind components;
@tailwind utilities;


.app-container {
    max-width: 600px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-form, .group-creation {
    margin: 20px 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.messages {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}

.message {
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

.message.read {
    background-color: #e0e0e0; /* 既読メッセージのスタイル */
}

.profile {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 4px;
}
